body {
        background-color: #444444;
        margin: 0; 
}

#container {
    overflow: hidden;
    width: 1600px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Lato', sans-serif;
    background-color: #FFFFFF;
}

#header {
    width 100%;
    padding: 15px 0;
   background-color: #444444;
}

.logo {
    width: 540px;
    font-size: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#pasek {
    display: block;
    padding: 10px 0;
    width: 1600px;
    background-color: #c12230;
    text-align: center;
}

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    line-height: 300%;
    display: inline-block;
    height: 45px;
}

ol a {
    display: block;
    font-size: 30px;
    color: black;
    text-decoration-line: none;
}

ol > li {
    float: left;
    width: 220px;
    height: 50px;
    border-right: 2px dotted black;
    justify-content: center;
}

ol > li:hover {
    background-color: #dd3c49; 
}

ol > li:first-child {
    border-left: 1px dashed black;
}

ol > li:hover >a {
    color: #ffffe6;
}

ol > li:hover > ul {
    display: block;
}

ol > li > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 50px;
    display: none;
}

ol > li > ul > li {
    background-color: #dd3c49;
    position: relative;
    border-top: 1px dashed black;
}

ol > li > ul > li:hover > a {
    color:#ffffe6;
}

ol > li > ul > li > a {
    font-size: 25px; 
}

.opis {
    display: block;
    margin-top: 30px;
    padding: 30px;
    width: 500px;
    text-align: center;
    font-size: 20px;
    float: right;
    height: 370px;
    border-left: 2px dotted #c12230;
}

#okomisie {
    width: 998px;
    height: 370px;
    padding: 20px;
    margin-top: 40px;
    float:left;
    font-size: 18px;
    text-align: justify;
}

#naglowek2 {
    text-align: justify;
    color:#c12230;
}

#szukacz {
    margin-top: 30px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    text-align: center;
}
    
.stopka {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    padding: 7px;
    background-color: lightgrey;
}

.stopka a {
    font-size: 20px;
    padding: 0px 20px;
    color: black;
    text-decoration-line: none;
    text-transform: uppercase;
}

.stopka p {
    text-align: center;
}

.stopka a:hover {
    background-color: #777;
    color: #c12230;
}